name: Build and push Docker images

on:
  push:
    branches: [master]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Alpine
      - name: Build and push wilfreddev/alpine:latest
        uses: docker/build-push-action@v2
        with:
          context: docker-images/alpine
          push: true
          tags: wilfreddev/alpine:latest

      # Debian
      - name: Build and push wilfreddev/debian:latest
        uses: docker/build-push-action@v2
        with:
          context: docker-images/debian
          push: true
          tags: wilfreddev/debian:latest

      # Java 8
      - name: Build and push wilfreddev/java:8
        uses: docker/build-push-action@v2
        with:
          context: docker-images/java-8
          push: true
          tags: wilfreddev/java:8

      # Java 16
      - name: Build and push wilfreddev/java:16
        uses: docker/build-push-action@v2
        with:
          context: docker-images/java-16
          push: true
          tags: wilfreddev/java:16

      # Source Engine
      - name: Build and push wilfreddev/source-engine:latest
        uses: docker/build-push-action@v2
        with:
          context: docker-images/source-engine
          push: true
          tags: wilfreddev/source-engine:latest

      # Ubuntu
      - name: Build and push wilfreddev/ubuntu:latest
        uses: docker/build-push-action@v2
        with:
          context: docker-images/ubuntu
          push: true
          tags: wilfreddev/ubuntu:latest
